body {
    -webkit-background-size: cover;    
    background: url(../images/Background/Background.jpg)no-repeat fixed;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#pausebuttoncontid{
    color: azure;
    /*font-size: 0.5vw;*/

    padding: 0 0 0 0;
    position: absolute;
    height: 8vh;
    width: 8vh;
    min-width: 50px;
    min-height: 50px;
    top: 15%;
    left: 47.5%;
    background: #f57f17;
    border: 2px solid black;
    border-radius: 6px;
    cursor: pointer;
}

#pausebuttoncontid:hover {
    background: #f9a825;
    color: black;
}

/*
#pausebuttoncontid:visited {
    background: green;
    color: white;
}

#pausebuttoncontid:focus {
    background: #db2526;
    color: white;
}

#pausebuttoncontid:active {
    background: purple;
    color: blue;
}
*/


.genericbtn{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5vw;
    font-weight: bolder;
    letter-spacing: 2px;
    color: white;
    background-color: #850d0d;

    position: relative;
    float: left;
    left: 5px;
    top: 5px;
    width: 20%;
    height: 4vh;

    border: none;
    border-radius: 5px;
    border-bottom: 2px solid white;
    border-radius: 1px;
    transition: all 0.15s ease;
    transition-property: width;
    cursor: pointer;
}

.genericbtn:hover{
    background: #F9D342;
    width: 25%;
    color: #db2526;
}

.glyphicon-volume-off{
    margin: 18% 0 0 23%;
    position: relative;
    font-size: 45px;
}
#gameovercontainerid{
    padding: 0 0 0 0;
    position: absolute;
    height: 50vh;
    width: 50vw;
    min-height: 232px;
    min-width: 360px;
    left: 25vw;
    top: 25vh;
    background: wheat;
    z-index: 10;
    border-radius: 5px;
    display: none;
}
.gameovertextcontid{
    font-weight: bolder;
}
.gameoversubcont{
    margin:5% 0 0 0;
    padding: 1% 0 0 0;
    position: relative;
    background: black;
    height: 20%;
    width: 80%;
    left: 10%;
    color: #666666;
    font-family: Impact, serif;
    text-align: center;
    letter-spacing: 3px;
}

.gameoversubcontlose{
    margin:5% 0 0 0;
    padding: 1% 0 0 0;
    position: relative;
    background: #db2526;
    height: 20%;
    width: 80%;
    left: 10%;
    color: #666666;
    font-family: Impact, serif;
    text-align: center;
    letter-spacing: 3px;
}
.center {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100vw;
    height: 100vh;
}
#bothplayerscont{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    position: absolute;
    top: 5vh;
    left: 3vw;
    height: 90vh;
    width: 94vw;
    min-height: 693px;
    min-width: 1169px;
    /*background: #5eb313;*/
}
#mainplayer{
    position: absolute;
    margin-right: 19vw;
    
    background: #bbbbbb95;
    /*background: rgba(24,43,48,0.6);*/
    border: 3px solid #000000;
    border-radius: 5px;
    width: 40vw;
    height: 89vh;
    min-width: 574px;
    min-height: 693px;
    z-index: 2;
}


.mainplayerlabel {
    background: #0cb45a;
    color: white;
    font-weight: bold;


    font-family: 'Raleway', sans-serif;
    font-size: 1vw;
    font-weight: bold;
    font-style: italic;
    text-align: center;

    position: relative;
    float: left;
    left: 5px;
    top: 5px;
    width: 40%;
    height: 3vh;

    border: 2px solid black;
    box-shadow: 10px 10px 8px 3px #333;
    border-radius: 5px;
}

.secplayerlabel {
    background: #db2526;
    color: white;
    font-weight: bold;




    font-family: 'Raleway', sans-serif;
    font-size: 1vw;
    font-weight: bold;
    font-style: italic;
    text-align: center;

    position: relative;
    float: left;
    left: 5px;
    top: 5px;
    width: 40%;
    height: 3vh;

    border: 2px solid black;
    box-shadow: 10px 10px 8px 3px #333;
    border-radius: 5px;
}

#canvas{
    position: absolute;
    margin-right: 3%;
    top: 4vh;
    left: 2vw;
    width: calc((40vh + 20vw)/2);
    height: calc(40vh + 20vw);
    min-width: 294px;
    min-height: 588px;

    background:url("../images/Background/WrinkledBackground.jpg");
    border: 5px solid #0cb45a;
    box-shadow: 10px 10px 8px 3px #333;
    border-radius: 10px;
}
#upcoming{
    display: block;

    position: relative;    
    padding: 0 0 0 0;
    margin: 0vh 0vh 0vh 0vh;
    height: 70%;
    width: 95%;    
    left: 2.5%;
    right: 0%;
    top: 5%;

    background:url("../images/Background/PlainBackground.jpg");
    /*background: #292826;*/
    border: 3px solid #0d1113;
}
#upcomingOpponent{
    display: block;

    position: relative;    
    padding: 0 0 0 0;
    margin: 0vh 0vh 0vh 0vh;
    height: 70%;
    width: 95%;    
    left: 2.5%;
    right: 0%;
    bottom: 5%;

    background:url("../images/Background/PlainBackground.jpg");
    /*background: #292826;*/
    border: 3px solid #0d1113;
}
#upcomingtextOpponent{
    color: #f9fdff;
    position: relative;
    text-align: center;
    top: 92%;
}
#upcomingcont{
    text-transform: uppercase;
    color: black;
    background: #bbb;
    border: 3px solid #000;
    border-radius: 5px;

    position: relative;
    padding: 1vh 0.5vh 0 0.5vh;    
    margin: 6vh 0vh;
    width: 80%;
    height: 35%;
    left: 10%;
    top: 3%;

    text-align: center;
    font-size: 2vh;
    font-weight: bold;
    horiz-align: center;



    /*
    color: #f9fdff;
    text-align: center;
    */
}
#upcomingcontOpponent{
    
    text-transform: uppercase;
    color: black;
    background: #bbb;
    border: 3px solid #000;
    border-radius: 5px;

    position: absolute;
    padding: 2vh 0.5vh 0vh 0.5vh;    
    margin: 0vh 0vh 6vh 0vh;
    width: 80%;
    height: 35%;
    left: 10%;
    bottom: 3%;

    text-align: center;
    font-size: 2vh;
    font-weight: bold;
    horiz-align: center;



    /*
    color: #f9fdff;
    text-align: center;
    */
}
#secondplayer{
    position: relative;
    float: right;
    background: #bbbbbb95;
    /*background: rgba(24,43,48,0.6);*/
    width: 40vw;
    height: 89vh;
    min-width: 574px;
    min-height: 693px;
    border: 3px solid #000000;
    border-radius: 5px;
    z-index: 2;
}
#secondplayercanvas{
    position: absolute;
    top: 4vh;
    right: 2vw;
    width: calc((40vh + 20vw)/2);
    height: calc(40vh + 20vw);
    min-width: 294px;
    min-height: 588px;

    background:url("../images/Background/WrinkledBackground.jpg");
    border: 5px solid #db2526;
    box-shadow: 10px 10px 8px 3px #333;
    border-radius: 10px;
}
#spmenubar{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 35%;
    min-height: 588px;

    background: rgba(24, 43, 48, 0.767);
    height: calc(40vh + 20vw);
    background: rgba(24, 43, 48, 0.767);
    border: 3px solid #bbb;
    box-shadow: 10px 10px 8px 3px #333;
    border-radius: 10px;
}
#spscorecont{
    position: relative;
    color: white;
    left: 2%;
    width: 95%;
    height: 25%;
    background: #60000d;
    text-align: center;
    vertical-align: middle;
    color: #f9fdff;
    border: 3px solid #0d1113;
    font-size: 22px;
}
#sprowscont{
    top: 5%;
    position: relative;
    left: 2%;
    width: 95%;
    height: 25%;
    background: #60000d;
    text-align: center;
    vertical-align: middle;
    color: #f9fdff;
    border: 3px solid #0d1113;
    font-size: 22px;
}
#spstatcont{
    top: 10%;
    position: absolute;
    width: 100%;
    height: 30%;
    /*background: #42403c;*/
    bottom: 0px;
}
#menubar{
    float: right;
    position: absolute;
    top: 5%;
    right: 5%;
    width: 35%;
    height: calc(40vh + 20vw);
    min-height: 588px;
    

    background: rgba(24, 43, 48, 0.767);
    border: 3px solid #bbb;
    box-shadow: 10px 10px 8px 3px #333;
    border-radius: 10px;
}
#mpstatscont{
    position: absolute;
    width: 100%;
    height: 30%;
    /*background: #42403c;*/
    bottom: 0px;
}
#alertcont{
    position: relative;
    left: 25%;
}
#scorecont{
    float: right;
    position: relative;
    right: 2%;
    width: 95%;
    height: 25%;
    background: #057138;
    text-align: center;
    vertical-align: middle;
    color: #f9fdff;
    border: 3px solid #0d1113;
    font-size: 22px;
}
#rowscont{
    top: 5%;
    float: right;
    position: relative;
    right: 2%;
    width: 95%;
    height: 25%;
    background: #057138;
    text-align: center;
    vertical-align: middle;
    color: #f9fdff;
    border: 3px solid #0d1113;
    font-size: 22px;
}
#vsimage{
    position: absolute;
    height: 240px;
    width: 240px;
    top: 30%;
    left: 42%;
    background: url("../images/versus.png") center;
    z-index: 0;
}
.powerscontainer{
    position: absolute;
    margin: 0 0 0 0;
    padding: 8% 0 0 0;
    border: 5px solid black;
    color: black;
    height: 10%;
    width: 80%;
    z-index: 2;
    left: 10%;
    text-align: center;
    display: none;
}
#powerscontainerid{
    background: greenyellow;
    top: 37%;
}
#sppowerscontainerid{
    background: red;
    top: 50%;
}


@media screen and (min-width:0px) and (min-height:0px)  {
    .gameoversubcont{
        font-size: 20px;
    }
} /* 10px chunks */
@media screen and (min-width: 400px) and (min-height: 400px)  {
    .gameoversubcont{
        font-size: 25px;
    }
} /* 15px chunks */
@media screen and (min-width: 500px) and (min-height: 500px)  {
    .gameoversubcont{
        font-size: 30px;
    }
} /* 20px chunks */
@media screen and (min-width: 600px) and (min-height: 600px)  {
    .gameoversubcont{
        font-size: 35px;
    }
} /* 25px chunks */
@media screen and (min-width: 700px) and (min-height: 700px)  {
    .gameoversubcont{
        font-size: 40px;
    }
} /* 30px chunks */
@media screen and (min-width: 800px) and (min-height: 800px)  {
    .gameoversubcont{
        font-size: 45px;
    }
} /* 35px chunks */
@media screen and (min-width: 900px) and (min-height: 900px)  {
    .gameoversubcont{
        font-size: 50px;
    }
} /*40px chunks */
