

body {
    -webkit-background-size: cover;    
    background: url(../images/Background/Background_lr.png)no-repeat fixed;
    font-family: "Futura Bk BT";
}

.center {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100vw;
    height: 100vh;
}
#bothplayerscont{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    position: absolute;
    top: 5vh;
    left: 3vw;
    height: 90vh;
    width: 94vw;
    min-height: 693px;
    min-width: 1169px;
    /*background: #5eb313;*/
}
#mainplayer{
    position: absolute;
    margin-right: 19vw;
    background: rgba(24,43,48,0.6);
    border: 3px solid #000000;
    border-radius: 5px;
    width: 40vw;
    height: 90vh;
    min-width: 574px;
    min-height: 693px;
    font-family: "Futura Bk BT";
}
#canvas{
    position: absolute;
    margin-right: 3%;
    top: 4vh;
    left: 2vw;
    width: calc((40vh + 20vw)/2);
    height: calc(40vh + 20vw);
    min-width: 294px;
    min-height: 588px;
    background: rgba(0,0,0,0.8);
    border: 3px solid #0d1113;
    font-family: "Futura Bk BT";
}
#upcoming{
    display: inline;
    margin: 5px auto;
    position: relative;
    padding: 0 0 0 0;
    height: 25%;
    width: 71%;
    position: absolute;
    left: 15%;
    top: 10%;
    background: #292826;
    border: 3px solid #0d1113;
    font-family: "Futura Bk BT";
}
#upcomingOpponent{
    display: inline;
    margin: 5px auto;
    position: relative;
    padding: 0 0 0 0;
    height: 25%;
    width: 71%;
    position: absolute;
    left: 15%;
    bottom: 10%;
    background: #292826;
    border: 3px solid #0d1113;
    font-family: "Futura Bk BT";
}
#upcomingtextOpponent{
    color: #f9fdff;
    position: relative;
    text-align: center;
    top: 92%;
    font-family: "Futura Bk BT";
}
#upcomingcont{
    color: #f9fdff;
    text-align: center;
}
#upcomingcontOpponent{
    color: #f9fdff;
    text-align: center;
}
#secondplayer{
    position: relative;
    float: right;
    background: rgba(24,43,48,0.6);
    width: 40vw;
    height: 90vh;
    min-width: 574px;
    min-height: 693px;
    border: 3px solid #000000;
    border-radius: 5px;
    font-family: "Futura Bk BT";
}
#secondplayercanvas{
    position: absolute;
    top: 4vh;
    right: 2vw;
    width: calc((40vh + 20vw)/2);
    height: calc(40vh + 20vw);
    min-width: 294px;
    min-height: 588px;
    background: rgba(12, 0, 0, 0.8);
    font-family: "Futura Bk BT";
}
#spmenubar{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 35%;
    min-height: 588px;
    height: calc(40vh + 20vw);
    border: 3px solid #0d1113;
}
#spscorecont{
    position: relative;
    color: white;
    left: 2%;
    width: 95%;
    height: 25%;
    background: #60000d;
    text-align: center;
    vertical-align: middle;
    color: #f9fdff;
    border: 3px solid #0d1113;
    font-size: 22px;
    font-family: "Futura Bk BT";
}
#sprowscont{
    top: 5%;
    position: relative;
    left: 2%;
    width: 95%;
    height: 25%;
    background: #60000d;
    text-align: center;
    vertical-align: middle;
    color: #f9fdff;
    border: 3px solid #0d1113;
    font-size: 22px;
    font-family: "Futura Bk BT";
}
#spstatcont{
    top: 10%;
    position: absolute;
    width: 100%;
    height: 30%;
    /*background: #42403c;*/
    bottom: 0px;
}
#menubar{
    float: right;
    position: relative;
    width: 35%;
    height: calc(40vh + 20vw);
    min-height: 588px;
    /*background: #3c2492;*/
    border: 3px solid #0d1113;
    right: 2%;
}
#mpstatscont{
    position: absolute;
    width: 100%;
    height: 30%;
    /*background: #42403c;*/
    bottom: 0px;
}
#alertcont{
    position: relative;
    left: 25%;
}
#scorecont{
    float: right;
    position: relative;
    right: 2%;
    width: 95%;
    height: 25%;
    background: #057138;
    text-align: center;
    vertical-align: middle;
    color: #f9fdff;
    border: 3px solid #0d1113;
    font-size: 22px;
    font-family: "Futura Bk BT";
}
#rowscont{
    top: 5%;
    float: right;
    position: relative;
    right: 2%;
    width: 95%;
    height: 25%;
    background: #057138;
    text-align: center;
    vertical-align: middle;
    color: #f9fdff;
    border: 3px solid #0d1113;
    font-size: 22px;
    font-family: "Futura Bk BT";
}
#vsimage{
    position: absolute;
    height: 240px;
    width: 240px;
    top: 30%;
    left: 42%;
    background: url("../images/versus.png");
}


/*@media screen and (min-width:0px) and (min-height:0px)  {
    #upcoming{
        width:  50px;
        height:  50px;
    }
} !* 10px chunks *!
@media screen and (min-width: 400px) and (min-height: 400px)  {
    #upcoming{
        width:  75px;
        height:  75px;
    }
} !* 15px chunks *!
@media screen and (min-width: 500px) and (min-height: 500px)  {
    #upcoming{
        width:  100px;
        height:  100px;
    }
} !* 20px chunks *!
@media screen and (min-width: 600px) and (min-height: 600px)  {
    #upcoming{
        width:  125px;
        height:  125px;
    }
} !* 25px chunks *!
@media screen and (min-width: 700px) and (min-height: 700px)  {
    #upcoming{
        width:  150px;
        height:  150px;
    }
} !* 30px chunks *!
@media screen and (min-width: 800px) and (min-height: 800px)  {
    #upcoming{
        width:  175px;
        height:  175px;
    }
} !* 35px chunks *!
@media screen and (min-width: 900px) and (min-height: 900px)  {
    #upcoming{
        width:  200px;
        height:  200px;
    }
} !*40px chunks *!*/
