* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    -webkit-background-size: cover;
    background-size: cover;
    font-family: Impact, Charcoal, sans-serif;
}
.headerbar {
    background: rgba(9, 46, 56, 0.5);
    width: 100%;
    height: 7vh;
    margin: 0px 0px 0px 0px;
}
.h{
    /*border: 1px solid #0d1113;*/
    margin: 0px 0px 0px 0px;
}
.htitle{
    font-family: Papyrus;
    font-size: 40px;
}
.haccount{
    padding: 0px 0px 0px 0px;
}
.userlogo{
    position: absolute;
    /*border: 1px solid #0d1113;*/
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    height: 100%;
}
.userlogo > div{
    float: right;
}
.licon{
    margin: 9px 0px 0px 5px;
    background: url(../images/usericon.png) no-repeat;
    background-size: 40px 40px;
    width: 40%;
    height: 50px;
}
.ltext{
    margin: 15px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 50%;
    height: 20px;
    font-size: 20px;
}
.extendeduserlogo{
    margin: 0px 0px 0px 0px;
}
.middlebar{
    margin: 0;
    background: #223848;
    width: 100%;
    height: 88vh;
}
.leftsidebar{
    margin: 0;
    background: #314351;
    width: 100%;
    height: 100%;
    padding: 10px;
}
.leftbtncont{
    margin-top: 15px;
}
.genercibtnlft{
    width: 95%;
    border: none;
    border-radius: 3px;
}
.genercibtnlft:hover{
    background: #6abb44;
}
.mainbar{
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
}
.genericbtn{
    border: none;
    border-radius: 3px;
    width: 100px;
}
.genericbtn:hover{
    background: #5eb313;
}
.footerbar{
    position: absolute;
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: 5vh;
    background: rgba(9, 46, 56, 0.5);
    top: calc(95vh);
    /*border: 1px solid #0d1113;*/
}
