* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    -webkit-background-size: cover;
    background-size: cover;
    font-family: Impact, Charcoal, sans-serif;
}
.headerbar {
    background-color: #42403c;
    width: 100%;
    height: 7vh;
    margin: 0 0 0 0;
}
.h{
    margin: 0 0 0 0;
}
.htitle{
    background: url(../images/BloodyMoneyTitleLogo.png) no-repeat;
    background-size: 25.2% 100%;
}
.haccount{
    padding: 0 0 0 0;
}
.userlogo{
    position: absolute;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
    height: 100%;
}
.userlogo > div{
    float: right;
}
.accopts,.settopts,.insopts,.aboopts,.outopts{
    position: absolute;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    float: right;
}
.licon{
    position: absolute;
    margin: 0 0 0 0;
    background: url(../images/3bars.png) center no-repeat;
    background-size: 50px 50px;
    width: 40%;
    height: 50px;
    top: 5%;
    left: 33%;
}
.extendeduserlogo{
    position: absolute;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 285px;
    height: 320px;
    background-color: #292826;
    top: 5px;
    left: 65vw;
    z-index: 10;
    border: none;
    border-left: 1px solid #ab8541;
    border-bottom: 1px solid #ab8541;
    border-radius: 3px;
    display: none;
}
.menuopts{
    position: absolute;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background: #f9fdff;
    border: none;
    border-bottom: 1px solid #0d1113;
    height: 17%;
    width: 94%;
    left: 10px;
    text-align: center;
    font-size: 20px;
    transition: all 0.2s ease;
    transition-property: width,height,background-color,top,left,padding-top,margin-bottom;
}
.menuopts:hover{
    background: #5eb313;
    margin-bottom: 2%;
    margin-top: 0.5%;
    width: 93%;
    height: 16.4%;
    padding-top: 10px;
    border-left: 5px solid #0d1113;
    left: 2%;
    cursor: pointer;
    border-radius: 3px;
}
.accoptstext, .settoptstext, .insoptstext, .abooptstext, .outoptstext{
    position: absolute;
    left: 50%;
    top: 20%;
}
.accoptsicon, .settoptsicon, .insoptsicon, .abooptsicon, .outoptsicon{
    position: absolute;
    left: 15%;
    top: 20%;
    margin: 0 0 0 0;
    width: 42%;
    height: 60%;
}
.accopts{
    top: 2%;
}
.settopts{
    top: 20%;
}
.insopts{
    top: 38%;
}
.aboopts{
    top: 56%;
}
.outopts{
    border-top: 4px solid #0d1113;
    top: 79%;
}
.accoptsicon{
    background: url(../images/usericon.png) no-repeat;
    background-size: 30px 30px;
}
.settoptsicon{
    background: url(../images/gear.png) no-repeat;
    background-size: 30px 30px;
}
.insoptsicon{
    background: url(../images/instructions.png) no-repeat;
    background-size: 30px 30px;
}
.abooptsicon{
    background: url(../images/about.png) no-repeat;
    background-size: 30px 30px;
}
.outoptsicon{
    background: url(../images/logout.png) no-repeat;
    background-size: 30px 30px;
}
.middlebar{
    margin: 0;
    background: #ab8541;
    width: 100%;
    height: 88vh;
}
.leftsidebar{
    margin: 0;
    background: #292826;
    width: 100%;
    height: 100%;
    padding: 10px;
}
.leftbtncont{
    margin 15px 0 0 0;
    padding: 0 0 0 0;
}
.genercibtnlft{
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    top: 5vh;
    width: 95%;
    border: none;
    border-bottom: 2px solid #000000;
    border-radius: 1px;
    transition: all 0.15s ease;
    transition-property: width;
}
.genercibtnlft:hover{
    background: #F9D342;
    width: 96%;
}
.mainbar{
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
}
.genericbtn{
    border: none;
    border-radius: 3px;
    width: 200px;
}
.genericbtn:hover{
    background: #F9D342;
}
.footerbar{
    position: absolute;
    margin: 0 0 0 0;
    width: 100%;
    height: 5vh;
    background: #42403c;
    top: calc(95vh);
    /*border: 1px solid #0d1113;*/
}
.mytable{
    z-index: 1;
    position: relative;
}

.accountdisplayable{
    position: absolute;
    background: rgba(66, 64, 60, 0.9);
    height: 76vh;
    width: 71vw;
    top: 4vh;
    left: 7vw;
    z-index: 2;
}
.exitbtn{
    position: absolute;
    top: 1%;
    left: 95.5%;
    width: 4%;
    height: 4%;
}
.acciconandbuttons{
    height: 70%
    width:
}
.accinfo{

}
.allsame{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}


