* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    -webkit-background-size: cover;
    background-image: url(../images/Background/Background.png);
    /*
    width: 100%;
    height: 100%;
    */    
    background-color: #0d1113;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Impact, Charcoal, sans-serif;
}

img {
    width: 100%;
    height: auto;
}

.form-container-login {
    position: relative;
    background: rgba(0, 0, 0, .5);
    color: azure;
    width: 100%;
    max-width: 500px;
    border-radius: 5px;
    padding: 20px;
    margin: 15px auto;
}

.form-container-sigin {
    position: relative;
    background: rgba(0, 0, 0, .5);
    color: azure;
    width: 100%;
    max-width: 500px;
    border-radius: 5px;
    padding: 20px;
    margin: 15px auto;
}
.form-container-big{
    position: relative;
    background: rgba(108, 112, 114,.7);
    color: azure;
    width: 100%;
    max-width: 500px;
    margin: 48px auto;
    border-radius: 5px;
    padding: 40px 20px 20px 10px;
}

.toggle{
    position: absolute;
    top: 7px;
    right: 7px;
    width: 100px;
    height: 30px;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid azure;
    transition: all 0.5s ease;
    transition-property: color, width, background-color;
    cursor: pointer;
}

.toggle span{
    letter-spacing: 3px;
}

.toggle:hover{
    border: 1px solid azure;
    border-radius: 7px;
    width: 150px;
    background: #0d1113;
    color: azure;
}

.form-container-login h2{
    margin: 0 0 28px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
}

.form-container-sigin h2{
    margin: 0 0 28px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
}

.form-container-login input[type="text"],
.form-container-login input[type="password"],
.form-container-login input[type="email"] {
    outline: none;
    background: rgba(0,0,0,.7);
    display: block;
    width: 100%;
    padding: 10px 15px;
    color: azure;
    border: none;
    border-radius: 3px;
    border-left: 2px solid #f9fdff;
    margin-bottom: 10px;
    transition: border-left-width 0.5s;
}

.form-container-sigin input[type="text"],
.form-container-sigin input[type="password"],
.form-container-sigin input[type="email"] {
    outline: none;
    background: rgba(0,0,0,.7);
    display: block;
    width: 100%;
    padding: 10px 15px;
    color: azure;
    border: none;
    border-radius: 3px;
    border-left: 2px solid #f9fdff;
    margin-bottom: 10px;
    transition: border-left-width 0.5s;
}

.form-container-login input[type="text"]:focus,
.form-container-login input[type="password"]:focus,
.form-container-login input[type="email"]:focus{
    border-left: 5px solid #5eb313;
}

.form-container-sigin input[type="text"]:focus,
.form-container-sigin input[type="password"]:focus,
.form-container-sigin input[type="email"]:focus{
    border-left: 5px solid #5eb313;
}

.form-container-login input[type="button"]{
    border: none;
    background: #3c2492;
    width: 35%;
    color: azure;
    padding: 10px 0;
    font-weight: bolder;
    font-family: Impact, Charcoal, sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.5s ease;
    transition-property: background-color, width ;
}
.form-container-sigin input[type="button"]{
    border: none;
    background: #3c2492;
    width: 35%;
    color: azure;
    padding: 10px 0;
    font-weight: bolder;
    font-family: Impact, Charcoal, sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.5s ease;
    transition-property: background-color, width ;
}

.form-container-login input[type="button"]:hover{
    border: none;
    width: 100%;
    border-radius: 5px;
    background: #304fef;
}

.form-container-sigin input[type="button"]:hover{
    border: none;
    width: 100%;
    border-radius: 5px;
    background: #304fef;
}

.form-container-sigin{
    display: none;
}


