* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    -webkit-background-size: cover;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    /*font-family: 'Bebas Neue', cursive;*/
    /*font-family: Impact, Charcoal, sans-serif;*/
}

.headerbar {
    background-color: #7f0000;
    width: 100%;
    height: 7vh;
    margin: 0 0 0 0;
}
.h{
    margin: 0 0 0 0;
}
.htitle{
    background: url(../images/Logo/LogoName.png) no-repeat;
    background-size: 25.2% 100%;
}
.haccount{
    padding: 0 0 0 0;
}
.userlogo{
    position: absolute;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
    height: 100%;
}
.accopts,.settopts,.insopts,.aboopts,.outopts{
    position: absolute;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    float: right;
}
.licon{
    position: absolute;
    margin: 0 0 0 0;
    background: url(../images/3bars.png) center no-repeat;
    background-size: 65% 80%;
    width: 40%;
    height: 90%;
    top: 5%;
    left: 33%;
}
.extendeduserlogo{
    position: absolute;
    margin: 0 0 0 0;
    padding: 0 0 0 5px;
    width: 15vw;
    height: 20vw;
    background-color: #292826;
    top: 5px;
    left: 68vw;
    z-index: 10;
    border: none;
    border-left: 1px solid #ab8541;
    border-bottom: 1px solid #ab8541;
    border-right: 1px solid #ab8541;
    border-radius: 3px;
    display: none;
}
.menuopts{
    position: absolute;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background: #f9fdff;
    border: none;
    border-bottom: 1px solid #0d1113;
    border-radius: 2px;
    height: 17%;
    width: 94%;
    left: 3%;
    text-align: center;

    transition: all 0.2s ease;
    transition-property: width,height,background-color,top,left,padding-top,margin-bottom;
}
.menuopts:hover{
    background: #5eb313;
    margin-bottom: 2%;
    margin-top: 0.5%;
    width: 93%;
    height: 16.4%;
    padding-top: 10px;
    border-left: 5px solid #0d1113;
    left: 2%;
    cursor: pointer;
    border-radius: 3px;
}
.accoptstext, .settoptstext, .insoptstext, .abooptstext, .outoptstext{
    position: absolute;
    left: 50%;
    top: 25%;
    font-size: calc(1vh + 0.5vw);
}
.accoptsicon, .settoptsicon, .insoptsicon, .abooptsicon, .outoptsicon{
    position: absolute;
    left: 15%;
    top: 20%;
    margin: 0 0 0 0;
    width: 42%;
    height: 60%;
}
.accopts{
    top: 2%;
}
.settopts{
    top: 20%;
}
.insopts{
    top: 38%;
}
.aboopts{
    top: 56%;
}
.outopts{
    border-top: 4px solid #0d1113;
    top: 79%;
}
.accoptsicon{
    background: url(../images/usericon.png) no-repeat;
    background-size: 40% 100%;
}
.settoptsicon{
    background: url(../images/gear.png) no-repeat;
    background-size: 40% 100%;
}
.insoptsicon{
    background: url(../images/instructions.png) no-repeat;
    background-size: 40% 100%;
}
.abooptsicon{
    background: url(../images/about.png) no-repeat;
    background-size: 40% 100%;
}
.outoptsicon{
    background: url(../images/logout.png) no-repeat;
    background-size: 40% 100%;
}
.middlebar{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background: #ab8541;
    width: 100%;
    height: 88vh;
}
.leftsidebar{
    margin: 0;
    /*background: #292826;*/
    width: 100%;
    height: 100%;
    padding: 10px;

    -webkit-background-size: cover;    
    background-image: url(../images/Background/PlainBackground.jpg);       
    background-color: #292826;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.leftbtncont{
    margin: 15px 0 0 0;
    padding: 0 0 0 0;
}
.genercibtnlft{
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    top: 5vh;
    width: 95%;
    border: none;
    border-bottom: 2px solid #000000;
    border-radius: 1px;
    transition: all 0.15s ease;
    transition-property: width;
}
.genercibtnlft:hover{
    background: #F9D342;
    width: 96%;
}
.mainbar{
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    -webkit-background-size: cover;    
    background-image: url(../images/Background/WrinkledBackground.jpg);
    background-color: #292826;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
.genericbtn{
    border: none;
    border-radius: 3px;
    width: 200px;
    color: #444;
}
.genericbtn:hover{
    background: #F9D342;
    color: #cf1111;
    font-weight: bold;
}
.footerbar{
    position: absolute;
    margin: 0 0 0 0;
    width: 100%;
    height: 5vh;
    background: #42403c;
    top: calc(95vh);
    /*border: 1px solid #0d1113;*/
}
.mytable{
    z-index: 1;
    position: relative;
}
.mytable th {
    background: #002171;
}
.accountdisplayable{
    position: absolute;
    background: rgba(66, 64, 60, 0.9);
    height: 76vh;
    width: 80vw;
    top: 4vh;
    left: 1.5vw;
    float: right;
    z-index: 2;
    display: none;
}
.exitbtn{
    position: absolute;
    background: #7f0000;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    top: 1%;
    left: 95.5%;
    width: 4%;
    height: 4%;
    transition: all 0.15s ease;
    transition-property: background-color,height,width;
}
.exitbtn:hover{
    background: #e22b00;
    height: 4.2%;
    width: 4.2%;
}
.acciconandbuttons{
    position: absolute;
    height: 65vh;
    width: 20vw;
    top: 8%;
    left: 7%;
    background: #f9fdff;
}
.accinfoinstruct{
    position: absolute;
    top: 7%;
    left: 5%;
    width: 90%;
    height: 85%;
    background: white;
}
.accinfoinstructimg{
    position: absolute;
    height: 100%;
    width: 50%;
    background: url(../images/arrowkeys.png) no-repeat center;
    background-size: 85% 85%;
}
.accinfoinstructinfo{
    font-size: large;
    position: absolute;
    padding: 10% 5% 5% 5%;
    height: 100%;
    width: 50%;
    left: 50%;
}
.accinfoinstructabout{
    padding: 5% 5% 5% 5%;
    position: absolute;
    top: 7%;
    left: 5%;
    width: 90%;
    height: 85%;
    background: white;
    font-size: larger;
}
.accinfo{
    position: absolute;
    height: 65vh;
    width: 45vw;
    top: 8%;
    left: 35%;
    background: #f9fdff;
}
.allsame{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.acciconandbuttonsicon{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 50%;
    border: 2px solid black;
    background: url(../images/usericon.png) no-repeat center;
    background-size: 80% 100%;
}
.acciconandbuttonsiconname{
    padding-top: 1%;
    border: 2px solid black;
    position: absolute;
    color: white;
    background: #42403c;
    width: 90%;
    height: 10%;
    left: 5%;
    top: 60%;
    font-size: 200%;
    text-align: center;
    vertical-align: middle;
}
.accinfoname{
    padding-top: 1%;
    position: absolute;
    color: white;
    background: #42403c;
    border: 2px solid black;
    height: 10%;
    width: 90%;
    top: 5%;
    left: 5%;
    font-size: 150%;
    vertical-align: middle;
}
.accinfoemail{
    padding-top: 1%;
    position: absolute;
    color: white;
    background: #42403c;
    border: 2px solid black;
    height: 10%;
    width: 90%;
    top: 20%;
    left: 5%;
    font-size: 120%;
    vertical-align: middle;
}
.accstats{
    padding-top: 1%;
    position: absolute;
    color: white;
    background: #42403c;
    border: 2px solid black;
    height: 10%;
    width: 33%;
    left: 33%;
    top: 35%;
    font-size: 150%;
    text-align: center;
    vertical-align: middle;
}
.mystatstable{
    top: 50%;
    left: 5%;
    height: 47%;
    width: 90%;
}
.my-custom-scrollbar {
    position: absolute;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}
.salastable{
    width: 90%;
    max-height: 55%;
}
.practicebtn{
    position: absolute;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    bottom: 10px;
    width: 100%;
    height: 5vh;
    min-height: 26px;
    min-width: 151px;
    border: none;
    border-bottom: 2px solid #000000;
    border-radius: 1px;
    transition: all 0.15s ease;
    transition-property: width;
}
.practicebtn:hover{
    background: #F9D342;
    width: 91%;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.backImage {
    width: 100%;
    height: auto;
    background-color: #444;
    /*
    display: block;
    margin-left: auto;
    margin-right: auto;
    */
}
.menuImage {
    max-width: 100%;
    height: auto;
    background-color: #444;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
/*
li a:hover:not(.active) {
    background-color: #db2526;
    font-weight: bold;
    color: white;
}
*/
.active {
    background-color: #850d0d;
    color: white;
}

.topHeader {
    margin: auto;
    width: auto;
}

.topNavigation { 
    font-family: 'Bebas Neue', cursive;
    /*position: relative;*/   
    position: sticky;
    top: 0;

    background-color: #333;
    overflow: hidden;
    
    font-size: large;
}

.topNavigation li a:hover {
    background-color: #db2526;
    color: black;
    font-weight: bold;
}

.topNavigation-Left {
    float: left;
}

.topNavigation-Center {
    float: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topNavigation-Right {
    float: right;
    text-align: right;
}

.topNavigation-Right1 {
    position: relative;
    float: left;
    padding: 5px 10px 0px 0px;
    border-right: 3px solid #bbb;
    color: #bbb;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 10px;
    text-align: right;
}

.topNavigation-Right2 {
    position: relative;
    float: right; 
    padding: 0px 20px; 
    color: white;
    font-size: xx-large;
    text-align: center;  
   
}

.topMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border: 1px solid #111;
}

.cornerOptions {
    padding-top: 7px;
}









.functionalitiesMenu {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    text-align: center;
    background-color: rgb(10, 3, 48);
    overflow: hidden;
    width: 100%;
    height: auto;
    font-family: 'Bebas Neue', cursive;
    /*
    padding: 0 8px;
    margin: 0 -16px;
    */
}

.playBox {
    background-color: #bbb;
    float: left;
    width: 30%;
    height: auto;

    padding: 8px 8px;
    margin: 10px 5px 10px 20px;    
    display: block;
    border: 2px solid black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.controlsBox {
    background-color: #bbb;
    float: initial;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: auto;
    
    padding: 8px 8px;
    margin: 0px 0px;    
    display: block;
    border: 2px solid black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.profileBox {
    background-color: #bbb;
    float: right;
    width: 30%;
    height: auto;

    padding: 8px 8px;
    margin: 10px 20px 10px 5px;    
    display: block;
    border: 2px solid black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
/*
#imgPlayBlox {
    width: 100%;
}

#imgControlsBlox {
    width: 100%;
}

#imgProfileBlox {
    width: 100%;
}
*/
.buttonPro {
    background-color: #850d0d;
    color: white;
    width: 100%;    
    border-radius: 5px;
    border: 3px solid white;    
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
    padding: 0px 8px;
    text-align: center;
    display: inline-block;
    font-size: 3vw;
    
}

.buttonPro:hover {
    transition-duration: 0.4s;
    background-color: #db2526;
    color: black;
    font-weight: bold;
}

.buttonPro:active {
    background-color: #db2526;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

footer {
    font-family: 'Raleway', sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: 150px;
    /*height: min-content;*/
    background: #900;
    color: #FFF;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 12px;
    /*line-height: 100%;*/
    padding: 0 0 0 0px;
    box-sizing: border-box;
}

footer span.programa {
    position: relative;
    width: 50%;
    height: auto;
    float: left;    
    padding: 40px 15px;    
    text-align: center;
}

footer span.direccion {
    position: relative;
    width: 50%;
    height: auto;
    float: right;
    border-left: solid #fff 1px;
    padding: 5px 35px;
    text-align: left;
}
.row{
    margin: 0 0 0 0;
}